@import "tailwindcss";

/* Tambahkan baris ini agar gaya tabel PowerGrid muncul */
@source "../../vendor/power-components/livewire-powergrid/resources/views/**/*.blade.php";
@source "../../vendor/power-components/livewire-powergrid/src/Themes/Tailwind.php";

@theme {
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
}
